.vscode/*
build/*
**/.vs
**/Debug/*
**/x64/*
**/*.pid
**/*.log
**/*.o
**/*.elf
**/*.vcxproj.filters
**/archives/*
*.sdf
*.suo
*.user
**/PS3_Debug/*
**/PS3_Release/*
PS3_Debug/*
PS3_Release/*
bin/*
bin-int/*
*.opensdf
.vs/*
